#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Terminal Overlay
Exec=/usr/bin/env sh -c "[ -f ~/.config/terminal-overlay ] && . ~/.config/terminal-overlay ; terminal-overlay tmux attach"
