[Unit]
Description=tmux: A terminal multiplexer
Documentation=man:tmux(1)

[Service]
Type=forking
ExecReload=/usr/bin/env __tmux-reload
Environment="TMUX_NEW_SESSION=no"
ExecStart=/usr/bin/tmux new-session -d -t default
ExecStop=/usr/bin/tmux kill-server
Restart=always
RestartSec=2

[Install]
WantedBy=default.target
